openapi: 3.1.0

info:
  title: Scouting America API
  version: 0.1.0
  description: >-
    Unofficial, community-maintained description of the public Scouting
    America API at api.scouting.org. Not affiliated with or endorsed by
    Scouting America. The CC0 license applies to this description and repository only,
    not to the API or its data.


    Some list endpoints cache responses without regard to the query string.
    On those endpoints, send `Cache-Control: no-cache` or query filters may
    be ignored.
  contact:
    name: scouting-api on GitHub
    url: https://github.com/kevin8181/scouting-api/issues
  license:
    name: CC0 1.0 Universal
    identifier: CC0-1.0

servers:
  - url: https://api.scouting.org
    description: Production

tags:
  - name: Advancement
    description: Ranks, merit badges, and other advancement

paths:
  /advancements/meritBadges:
    get:
      tags: [Advancement]
      operationId: listMeritBadges
      summary: List merit badges
      description: >-
        Returns merit badges in one response, with no paging. Pass a badge's
        `id` to the requirements endpoint to get its requirements. Filters
        combine with AND. A filter value that matches nothing returns an empty
        list. Unknown query parameters are ignored.
      security: []
      parameters:
        - $ref: "#/components/parameters/CacheControl"
        - name: id
          in: query
          description: Return only the merit badge with this `id`
          schema:
            type: string
            examples: ["3"]
        - name: version
          in: query
          description: >-
            Return only requirements versions from this year. Badges with no
            matching version are left out.
          schema:
            type: string
            examples: ["2019"]
        - name: status
          in: query
          description: >-
            Which requirements versions to put in `versions`. `active` (the
            default) gives each badge's current version and leaves out
            discontinued badges. `inactive` gives past versions, including those
            of discontinued badges, and leaves out badges with none.
            Case-sensitive.
          schema:
            type: string
            enum: [active, inactive]
      responses:
        "200":
          description: Matching merit badges
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [meritBadges]
                properties:
                  meritBadges:
                    type: array
                    items:
                      $ref: "#/components/schemas/MeritBadge"
              example:
                meritBadges:
                  - id: "3"
                    categoryId: "3"
                    category: Business and Industry
                    bsaNumber: "15"
                    name: American Business
                    shortName: Amer. Business
                    description: ""
                    image: 15_150.png
                    eagleRequired: "False"
                    centennial: "False"
                    dateCreated: ""
                    dateDiscontinued: ""
                    lastUpdated: "2014-08-20"
                    adminNotes: ""
                    worksheetDOC: ""
                    worksheetPDF: http://meritbadge.org/wiki/images/7/70/American_Business.pdf
                    bsaPamphletNumber: "35850"
                    bsaPamphletEdition: "2002"
                    bsaPamphletImage: 3.jpg
                    bsaEmblemNumber: ""
                    bsaEmblemImage: ""
                    bsaRequirements: http://www.scouting.org/scoutsource/BoyScouts/AdvancementandAwards/MeritBadges/mb-ABIZ.aspx
                    pageURL: american-business-merit-badge-requirements.asp
                    searchKeywords: American Business Merit Badge Requirements
                    sku: "659930"
                    price: "3.99"
                    priceLastUpdated: "2026-09-16"
                    imageUrl50: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_50.png
                    imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_100.png
                    imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_200.png
                    versions:
                      - versionId: "282"
                        version: "2019"
                        versionEffectiveDt: "2019-01-01"
                        versionExpiryDt: ""
                        expiredDate: ""
        "400":
          $ref: "#/components/responses/InvalidQuery"

  /advancements/meritBadges/{meritBadgeId}/requirements:
    get:
      tags: [Advancement]
      operationId: getMeritBadgeRequirements
      summary: Get a merit badge's requirements
      description: >-
        Returns the current requirements version for a merit badge.
        Requirements are a flat list; nest them using `parentRequirementId`
        and order them by `sortOrder`.
      security: []
      parameters:
        - $ref: "#/components/parameters/MeritBadgeId"
      responses:
        "200":
          description: The merit badge's current requirements
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeritBadgeRequirements"
              example:
                meritBadgeId: "3"
                meritBadgeName: American Business
                version: "2019"
                versionId: "282"
                versionEffectiveDt: "2019-01-01"
                versionExpiryDt: ""
                eagleRequired: "False"
                imageUrl50: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_50.png
                imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_100.png
                imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/meritbadges/3_200.png
                requirements:
                  - id: "8386"
                    name: "Do the following:"
                    listNumber: "1."
                    requirementNumber: ""
                    sortOrder: "1"
                    childrenRequired: "5"
                    required: "False"
                    parentRequirementId: ""
                    daysRequired: ""
                    counselorApproval: "False"
                    footer: ""
                  - id: "8387"
                    name: Explain four features of the free enterprise system in the United States. ...
                    listNumber: (a)
                    requirementNumber: 1a
                    sortOrder: "1.1"
                    childrenRequired: ""
                    required: "True"
                    parentRequirementId: "8386"
                    daysRequired: ""
                    counselorApproval: "False"
                    footer: ""
        "404":
          description: No merit badge exists with that ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C404
                message: Not Found
                errorDesc: "Merit Badge not found, verify that the meritBadgeId belongs to an existent merit badge - meritBadgeId: 999999"

  /advancements/ranks:
    get:
      tags: [Advancement]
      operationId: listRanks
      summary: List ranks
      description: >-
        Returns ranks across all programs, one item per requirements version,
        with no paging. A rank with several versions appears once per
        version, sharing `id` but with different `versionId`.
        Filters combine with AND. A filter value that matches nothing returns
        an empty list.
      security: []
      parameters:
        - $ref: "#/components/parameters/CacheControl"
        - name: id
          in: query
          description: Return only versions of the rank with this `id`
          schema:
            type: string
            examples: ["1"]
        - name: programId
          in: query
          description: Return only ranks in this program
          schema:
            type: string
            examples: ["2"]
        - name: version
          in: query
          description: Return only requirements versions from this year
          schema:
            type: string
            examples: ["2022"]
        - name: status
          in: query
          description: >-
            `active` returns the current requirements version of each rank
            (some ranks have two current versions). `inactive` returns all other
            versions. Case-sensitive.
          schema:
            type: string
            enum: [active, inactive]
      responses:
        "200":
          description: Matching rank versions
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [ranks]
                properties:
                  ranks:
                    type: array
                    items:
                      $ref: "#/components/schemas/Rank"
              example:
                ranks:
                  - id: "20"
                    name: Discovery
                    short: Discovery
                    reallyShort: Discovery
                    level: "2"
                    image: discovery.png
                    programId: "4"
                    program: Venturing
                    searchKeywords: Venturer Rank Award Requirements
                    lds: "False"
                    sku: "620502"
                    price: "2.99"
                    priceLastUpdated: "2026-09-16"
                    scoutNet: RV12
                    versionId: "62"
                    version: "2020"
                    header: ""
                    footer: ""
                    adminNotes: ""
                    proofReadDate: ""
                    active: "True"
                    expiredDate: ""
                    disabledOnQuickEntry: "False"
                    imageUrl50: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery50.png
                    imageUrl100: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery100.png
                    imageUrl200: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery200.png
                    imageUrl400: https://d1kn0x9vzr5n76.cloudfront.net/images/ranks/discovery400.png
        "400":
          $ref: "#/components/responses/InvalidQuery"

  /advancements/ranks/{rankId}/requirements:
    get:
      tags: [Advancement]
      operationId: getRankRequirements
      summary: Get a rank's requirements
      description: >-
        Returns one requirements version of a rank: the newest by default, or
        the one given by `versionId`. Requirements are a flat list; nest them
        using `parentRequirementId`. Some old versions have no requirements.
      security: []
      parameters:
        - $ref: "#/components/parameters/RankId"
        - name: versionId
          in: query
          description: >-
            A `versionId` of this rank from the rank list. Defaults to the
            newest version.
          schema:
            type: integer
            minimum: 1
            examples: [38]
      responses:
        "200":
          description: The requested requirements version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RankRequirements"
              example:
                rankInformation:
                  rankId: "19"
                  name: Venturing
                  version: "2020"
                  short: Venturing
                  reallyShort: Venturing
                  level: "1"
                  image: venturing.png
                  programId: "4"
                  searchKeywords: Venturer Rank Award Requirements
                  lds: "False"
                  sku: "620501"
                  price: "2.99"
                  priceLastUpdated: "2026-09-16"
                  scoutNet: RV11
                  header: ""
                  footer: ""
                  adminNotes: ""
                  proofReadDate: ""
                  active: "True"
                  disabledOnQuickEntry: "False"
                requirements:
                  - id: "1246"
                    versionId: "61"
                    name: Participate in a crew activity outside of a crew meeting.
                    short: ""
                    listNumber: "1"
                    requirementNumber: "1"
                    sortOrder: "1"
                    footer: ""
                    childrenRequired: ""
                    required: "True"
                    parentRequirementId: ""
                    videoExternalURLId: ""
                    previousRankRequired: "False"
                    monthsSinceLastRankRequired: ""
                    eagleMBRequired: ""
                    totalMBRequired: ""
                    serviceHoursRequired: ""
                    disabledOnQuickEntry: "False"
                    linkedAdventureId: ""
                    linkedAwardId: ""
        "400":
          description: "`rankId` or `versionId` is invalid"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C400
                message: Bad Request
                errorDesc: Invalid request - "rankId" must be larger than or equal to 1
        "404":
          description: >-
            No rank exists with that ID, or `versionId` is not a version of this
            rank
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                errorCode: C404
                message: Not Found
                errorDesc: "Ranks information not found - rankId: 999999"

components:
  schemas:
    MeritBadge:
      type: object
      additionalProperties: false
      description: >-
        All values are strings. Dates are `YYYY-MM-DD` or an empty string,
        and booleans are the strings `"True"` / `"False"`.
      required:
        - id
        - categoryId
        - category
        - bsaNumber
        - name
        - shortName
        - description
        - image
        - eagleRequired
        - centennial
        - dateCreated
        - dateDiscontinued
        - lastUpdated
        - adminNotes
        - worksheetDOC
        - worksheetPDF
        - bsaPamphletNumber
        - bsaPamphletEdition
        - bsaPamphletImage
        - bsaEmblemNumber
        - bsaEmblemImage
        - bsaRequirements
        - pageURL
        - searchKeywords
        - sku
        - price
        - priceLastUpdated
        - imageUrl50
        - imageUrl100
        - imageUrl200
        - versions
      properties:
        id:
          type: string
          examples: ["3"]
        categoryId:
          type: string
          examples: ["3"]
        category:
          type: string
          examples: [Business and Industry]
        bsaNumber:
          type: string
          examples: ["15"]
        name:
          type: string
          examples: [American Business]
        shortName:
          type: string
          examples: [Amer. Business]
        description:
          type: string
          description: Usually empty
        image:
          type: string
          description: Image file name
          examples: [15_150.png]
        eagleRequired:
          $ref: "#/components/schemas/StringBoolean"
        centennial:
          $ref: "#/components/schemas/StringBoolean"
        dateCreated:
          $ref: "#/components/schemas/StringDate"
        dateDiscontinued:
          $ref: "#/components/schemas/StringDate"
        lastUpdated:
          $ref: "#/components/schemas/StringDate"
        adminNotes:
          type: string
          description: Internal free-text notes
        worksheetDOC:
          type: string
        worksheetPDF:
          type: string
          description: URL of a worksheet PDF, or empty
        bsaPamphletNumber:
          type: string
          examples: ["35850"]
        bsaPamphletEdition:
          type: string
          examples: ["2002"]
        bsaPamphletImage:
          type: string
          examples: [3.jpg]
        bsaEmblemNumber:
          type: string
        bsaEmblemImage:
          type: string
        bsaRequirements:
          type: string
          description: URL of the requirements page, or empty
        pageURL:
          type: string
          examples: [american-business-merit-badge-requirements.asp]
        searchKeywords:
          type: string
        sku:
          type: string
          description: Scout Shop SKU for the pamphlet
          examples: ["659930"]
        price:
          type: string
          description: Pamphlet price in USD, or empty
          examples: ["3.99"]
        priceLastUpdated:
          $ref: "#/components/schemas/StringDate"
        imageUrl50:
          type: string
          format: uri
        imageUrl100:
          type: string
          format: uri
        imageUrl200:
          type: string
          format: uri
        versions:
          type: array
          items:
            $ref: "#/components/schemas/MeritBadgeVersion"

    MeritBadgeRequirements:
      type: object
      additionalProperties: false
      required:
        - meritBadgeId
        - meritBadgeName
        - version
        - versionId
        - versionEffectiveDt
        - versionExpiryDt
        - eagleRequired
        - imageUrl50
        - imageUrl100
        - imageUrl200
        - requirements
      properties:
        meritBadgeId:
          type: string
          examples: ["3"]
        meritBadgeName:
          type: string
          examples: [American Business]
        version:
          type: string
          description: Requirements version year
          examples: ["2019"]
        versionId:
          type: string
          examples: ["282"]
        versionEffectiveDt:
          $ref: "#/components/schemas/StringDate"
        versionExpiryDt:
          $ref: "#/components/schemas/StringDate"
        eagleRequired:
          $ref: "#/components/schemas/StringBoolean"
        imageUrl50:
          type: string
          format: uri
        imageUrl100:
          type: string
          format: uri
        imageUrl200:
          type: string
          format: uri
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/Requirement"

    Requirement:
      type: object
      additionalProperties: false
      required:
        - id
        - name
        - listNumber
        - requirementNumber
        - sortOrder
        - childrenRequired
        - required
        - parentRequirementId
        - daysRequired
        - counselorApproval
        - footer
      properties:
        id:
          type: string
          examples: ["8387"]
        name:
          type: string
          description: Requirement text. Often contains HTML (links, `<details>` blocks).
        listNumber:
          type: string
          description: Display label, e.g. `1.` or `(a)`
          examples: ["1.", "(a)"]
        requirementNumber:
          type: string
          description: Short identifier, e.g. `1a`. Empty on some parent requirements.
          examples: [1a]
        sortOrder:
          type: string
          description: Dotted sort key, e.g. `1` for a parent and `1.1` for its first child
          examples: ["1", "1.1"]
        childrenRequired:
          type: string
          description: Number of child requirements that must be completed, or empty
          examples: ["5"]
        required:
          $ref: "#/components/schemas/StringBoolean"
        parentRequirementId:
          type: string
          description: "`id` of the parent requirement, or empty for top-level requirements"
          examples: ["8386"]
        daysRequired:
          type: string
        counselorApproval:
          $ref: "#/components/schemas/StringBoolean"
        footer:
          type: string

    MeritBadgeVersion:
      type: object
      additionalProperties: false
      required:
        [versionId, version, versionEffectiveDt, versionExpiryDt, expiredDate]
      properties:
        versionId:
          type: string
          examples: ["282"]
        version:
          type: string
          description: Requirements version year
          examples: ["2019"]
        versionEffectiveDt:
          $ref: "#/components/schemas/StringDate"
        versionExpiryDt:
          $ref: "#/components/schemas/StringDate"
        expiredDate:
          $ref: "#/components/schemas/StringDate"

    Rank:
      type: object
      additionalProperties: false
      description: >-
        One requirements version of a rank. All values are strings.
      required:
        - id
        - name
        - short
        - reallyShort
        - level
        - image
        - programId
        - program
        - searchKeywords
        - lds
        - sku
        - price
        - priceLastUpdated
        - scoutNet
        - versionId
        - version
        - header
        - footer
        - adminNotes
        - proofReadDate
        - active
        - expiredDate
        - disabledOnQuickEntry
        - imageUrl50
        - imageUrl100
        - imageUrl200
        - imageUrl400
      properties:
        id:
          type: string
          description: Rank ID, shared by all versions of the rank
          examples: ["20"]
        name:
          type: string
          examples: [Discovery]
        short:
          type: string
          description: Shorter name
          examples: [Discovery]
        reallyShort:
          type: string
          description: Shortest name
          examples: [Discovery]
        level:
          type: string
          description: >-
            Position of the rank within its program, starting at `1` (Lion is
            `0`)
          examples: ["2"]
        image:
          type: string
          description: Image file name
          examples: [discovery.png]
        programId:
          type: string
          examples: ["4"]
        program:
          type: string
          description: Program name for `programId`
          examples: [Cub Scouting, Scouts BSA, Venturing, Sea Scouting]
        searchKeywords:
          type: string
        lds:
          $ref: "#/components/schemas/StringBoolean"
        sku:
          type: string
          examples: ["620502"]
        price:
          type: string
          description: Price as a decimal string. `"0"` on some old versions.
          examples: ["2.99"]
        priceLastUpdated:
          $ref: "#/components/schemas/StringDate"
        scoutNet:
          type: string
          examples: [RV12]
        versionId:
          type: string
          description: Unique per requirements version
          examples: ["62"]
        version:
          type: string
          description: Requirements version year
          examples: ["2020"]
        header:
          type: string
          description: Introductory text, or empty
        footer:
          type: string
          description: Notes, often containing HTML, or empty
        adminNotes:
          type: string
          description: Internal free-text notes
        proofReadDate:
          $ref: "#/components/schemas/StringDate"
        active:
          $ref: "#/components/schemas/StringBoolean"
        expiredDate:
          $ref: "#/components/schemas/StringDate"
        disabledOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"
        imageUrl50:
          type: string
          format: uri
        imageUrl100:
          type: string
          format: uri
        imageUrl200:
          type: string
          format: uri
        imageUrl400:
          type: string
          format: uri

    RankRequirements:
      type: object
      additionalProperties: false
      required: [rankInformation, requirements]
      properties:
        rankInformation:
          $ref: "#/components/schemas/RankInformation"
        requirements:
          type: array
          items:
            $ref: "#/components/schemas/RankRequirement"

    RankInformation:
      type: object
      additionalProperties: false
      description: >-
        The rank, as of the returned requirements version. Fields match those
        of the same name in `Rank`.
      required:
        - rankId
        - name
        - version
        - short
        - reallyShort
        - level
        - image
        - programId
        - searchKeywords
        - lds
        - sku
        - price
        - priceLastUpdated
        - scoutNet
        - header
        - footer
        - adminNotes
        - proofReadDate
        - active
        - disabledOnQuickEntry
      properties:
        rankId:
          type: string
          description: The rank's `id`
          examples: ["19"]
        name:
          type: string
          examples: [Venturing]
        version:
          type: string
          description: Requirements version year
          examples: ["2020"]
        short:
          type: string
        reallyShort:
          type: string
        level:
          type: string
          examples: ["1"]
        image:
          type: string
          examples: [venturing.png]
        programId:
          type: string
          examples: ["4"]
        searchKeywords:
          type: string
        lds:
          $ref: "#/components/schemas/StringBoolean"
        sku:
          type: string
          examples: ["620501"]
        price:
          type: string
          examples: ["2.99"]
        priceLastUpdated:
          description: >-
            `null` on some versions where the rank list has an empty string
          type: [string, "null"]
          anyOf:
            - $ref: "#/components/schemas/StringDate"
            - type: "null"
        scoutNet:
          type: string
          examples: [RV11]
        header:
          type: string
          description: Introductory text, may contain HTML, or empty
        footer:
          type: string
          description: Notes, often containing HTML, or empty
        adminNotes:
          type: string
          description: Internal free-text notes
        proofReadDate:
          $ref: "#/components/schemas/StringDate"
        active:
          $ref: "#/components/schemas/StringBoolean"
        disabledOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"

    RankRequirement:
      type: object
      additionalProperties: false
      required:
        - id
        - versionId
        - name
        - short
        - listNumber
        - requirementNumber
        - sortOrder
        - footer
        - childrenRequired
        - required
        - parentRequirementId
        - videoExternalURLId
        - previousRankRequired
        - monthsSinceLastRankRequired
        - eagleMBRequired
        - totalMBRequired
        - serviceHoursRequired
        - disabledOnQuickEntry
        - linkedAdventureId
        - linkedAwardId
      properties:
        id:
          type: string
          examples: ["1246"]
        versionId:
          type: string
          description: "`versionId` of the requirements version"
          examples: ["61"]
        name:
          type: string
          description: Requirement text. Sometimes contains HTML.
        short:
          type: string
          description: Short label, or empty
        listNumber:
          type: string
          description: Display label, e.g. `1a.` or `(a)`, or empty
          examples: ["1a.", "(a)"]
        requirementNumber:
          type: string
          description: Short identifier, e.g. `1a`, or empty
          examples: [1a]
        sortOrder:
          type: string
          description: Dotted sort key, e.g. `1.1`, or empty
          examples: ["1", "1.1"]
        footer:
          type: string
        childrenRequired:
          type: string
          description: Number of child requirements that must be completed, or empty
          examples: ["2"]
        required:
          $ref: "#/components/schemas/StringBoolean"
        parentRequirementId:
          type: string
          description: "`id` of the parent requirement, or empty for top-level requirements"
        videoExternalURLId:
          type: string
        previousRankRequired:
          $ref: "#/components/schemas/StringBoolean"
        monthsSinceLastRankRequired:
          type: string
          examples: ["4"]
        eagleMBRequired:
          type: string
          examples: ["13"]
        totalMBRequired:
          type: string
          examples: ["21"]
        serviceHoursRequired:
          type: string
          examples: ["6"]
        disabledOnQuickEntry:
          $ref: "#/components/schemas/StringBoolean"
        linkedAdventureId:
          type: string
        linkedAwardId:
          type: string

    StringBoolean:
      type: string
      enum: ["True", "False"]

    StringDate:
      type: string
      description: Date as `YYYY-MM-DD`, or an empty string if not set
      pattern: "^([0-9]{4}-[0-9]{2}-[0-9]{2})?$"

    Error:
      type: object
      additionalProperties: false
      required:
        - errorCode
        - message
        - errorDesc
      properties:
        errorCode:
          type: string
          examples: [M400]
        message:
          type: string
          examples: [Bad Request]
        errorDesc:
          type: string
          examples: [Query parameter id is not repeatable]

  parameters:
    CacheControl:
      name: Cache-Control
      in: header
      description: >-
        Send `no-cache` for query filters to take effect. Without it, the
        response may come from a cache that ignores the query string. Other
        values and `Pragma: no-cache` don't bypass the cache.
      schema:
        type: string
        examples: [no-cache]

    MeritBadgeId:
      name: meritBadgeId
      in: path
      required: true
      description: Merit badge `id` from the merit badge list (not `bsaNumber`)
      schema:
        type: integer
        minimum: 1
        examples: [3]

    RankId:
      name: rankId
      in: path
      required: true
      description: Rank `id` from the rank list
      schema:
        type: integer
        minimum: 1
        examples: [1]

  responses:
    InvalidQuery:
      description: >-
        A query parameter has an invalid value, is repeated, or (on some
        endpoints) is unknown. Parameter names and enum values are
        case-sensitive.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            errorCode: M400
            message: Bad Request
            errorDesc: Invalid value 'bogus' for query parameter status. bogus is not a valid enum value
