openapi: 3.1.0

info:
  title: ScoutConnect API
  version: 0.1.0
  description: >-
    Unofficial, community-maintained description of the Scouting America API
    at scoutconnect-api.scouting.org. Not affiliated with or endorsed by
    Scouting America. The MIT license applies to this description and
    repository only, not to the API or its data.
  contact:
    name: scouting-api on GitHub
    url: https://github.com/scouting-commons/scouting-api/issues
  license:
    name: MIT
    identifier: MIT

servers:
  - url: https://scoutconnect-api.scouting.org
    description: Production

tags:
  - name: Councils
    description: Local councils
  - name: Locations
    description: Geographic lookups, such as ZIP code coordinates
  - name: Organizations
    description: Units, Exploring posts, and councils

paths:
  /councils:
    get:
      tags: [Councils]
      operationId: listCouncils
      summary: List councils serving a ZIP code
      description: >-
        Returns the council that serves a ZIP code, as a list of at most one.
        A ZIP code no council serves returns an empty list. Some codes that
        aren't US ZIP codes still return a council.
      security: []
      parameters:
        - name: zipCode
          in: query
          required: true
          description: A 5-digit ZIP code. Keep leading zeros.
          schema:
            $ref: "#/components/schemas/ZipCode"
      responses:
        "200":
          description: The council serving the ZIP code, if any
          content:
            application/json:
              schema:
                type: array
                maxItems: 1
                items:
                  $ref: "#/components/schemas/Council"
              example:
                - address: 6202 Bloomington Rd, Ft. Snelling, MINNESOTA 55111
                  councilNumber: "250"
                  email: null
                  id: null
                  name: Northen Star 250
                  phone: 612-261-2300
                  website: null
        "400":
          $ref: "#/components/responses/BadRequest"
          description: >-
            `zipCode` is missing, repeated, or isn't exactly 5 ASCII digits

  /organizations/{organizationId}:
    get:
      tags: [Organizations]
      operationId: getOrganization
      summary: Get an organization
      description: >-
        Returns a unit, Exploring post, or council. The ID is matched
        case-insensitively.
      security: []
      parameters:
        - name: organizationId
          in: path
          required: true
          description: Organization `id`
          schema:
            $ref: "#/components/schemas/OrganizationId"
      responses:
        "200":
          description: The organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
              example:
                address: 15915 Excelsior Blvd, Minnetonka, MN 55345
                contactEmail: recruiting@troop346.org
                contactName: Kelly Solko
                contactPhone: (612) 269-3382
                councilInfo:
                  address: 6202 Bloomington Rd, Ft. Snelling, MN 55111
                  councilNumber: "250"
                  email: null
                  id: 6ce6ab14-283b-4ef2-809a-0a1b5503aa5d
                  name: Northern Star Council 250
                  phone: (612) 261-2300
                  website: null
                description: >-
                  We are committed to making Scouting Available to ALL
                  families.  Families that need registration financial aid
                  should apply at <a
                  href="https://GOSCOUTING.ORG/FIN-AID">GOSCOUTING.ORG/FIN-AID</a>
                  . Troop 3346 meets at All Saints Lutheran Church every Monday
                  night.
                gender: BOYS
                hasManualRegistration: false
                id: 2cb46226-b47b-4ef1-ab3e-51806fe91dfd
                isComingSoon: false
                isFundRaiser: true
                lat: 44.903204
                legacyUnitId: 278147
                lng: -93.482351
                meetingDay: Meets every Monday
                meetingTime: 7:00 PM-8:30 PM
                name: Troop 3346 All Saints Lutheran Church
                number: "3346"
                onlineRegistrationSupported: true
                organizationDistrictName: M
                organizationTerritoryName: Service Territory 04
                organizationType: Units
                program: SCOUTS_BSA
                specialNeeds: TRADITIONAL PROGRAM
                tinyUrl: null
                triaVisitEncouraged: false
                unitAgeYears: 56
                unitFee: 120
                unitSize: 33
                unitTenureMonths: 682
                website: https://www.troopwebhost.org/Troop346Minnetonka/
                youthGrade: 5-12
                youthJoiningFee: 210
                zip: "55345"
        "404":
          description: >-
            No organization has that ID, including any ID that isn't a UUID
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              example:
                detail: "Unit not found for organizationGuid: 2cb46226-b47b-4ef1-ab3e-51806fe91dfe"
                instance: /organizations/2cb46226-b47b-4ef1-ab3e-51806fe91dfe
                status: 404
                title: Not Found
                correlationId: e62d7dc0-1275-4e5b-acc1-853fe8944ceb

  /zip-codes/{zipCode}/coordinates:
    get:
      tags: [Locations]
      operationId: getZipCodeCoordinates
      summary: Get a ZIP code's coordinates
      description: >-
        Returns the latitude and longitude of a ZIP code. Lookups aren't
        limited to US ZIP codes: a 5-digit code that isn't one may return the
        location of a postal code in another country.
      security: []
      parameters:
        - $ref: "#/components/parameters/ZipCode"
      responses:
        "200":
          description: The ZIP code's coordinates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Coordinates"
              example:
                latitude: 44.9188292
                longitude: -93.4902391
        "400":
          $ref: "#/components/responses/BadRequest"
          description: The ZIP code isn't exactly 5 ASCII digits
        "404":
          description: No coordinates were found for the ZIP code
          content:
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
              example:
                detail: No coordinates found for ZIP code 99999
                instance: /zip-codes/99999/coordinates
                status: 404
                title: Not Found
                correlationId: a3425ac2-8b5b-4568-baeb-04aee4288ca3

components:
  schemas:
    Council:
      type: object
      additionalProperties: false
      required:
        - address
        - councilNumber
        - email
        - id
        - name
        - phone
        - website
      properties:
        address:
          type: string
          description: >-
            Council office mailing address on one line, with the state name
            in capitals
          examples: ["6202 Bloomington Rd, Ft. Snelling, MINNESOTA 55111"]
        councilNumber:
          type: string
          description: Three digits, with leading zeros
          examples: ["250"]
        email:
          type: "null"
        id:
          type: "null"
        name:
          type: string
          description: Council name followed by its `councilNumber`
          examples: [Northen Star 250]
        phone:
          type: string
          description: >-
            Usually `NNN-NNN-NNNN`, sometimes with an extension such as
            ` ext. 100`, and not always a full US number
          examples: [612-261-2300, 815-397-0210 ext. 100]
        website:
          type: "null"

    Coordinates:
      type: object
      additionalProperties: false
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          examples: [44.9188292]
        longitude:
          type: number
          examples: [-93.4902391]

    Organization:
      type: object
      additionalProperties: false
      description: >-
        A unit, Exploring post, or council. Council records leave most
        unit-specific fields `null`.
      required:
        - address
        - contactEmail
        - contactName
        - contactPhone
        - councilInfo
        - description
        - gender
        - hasManualRegistration
        - id
        - isComingSoon
        - isFundRaiser
        - lat
        - legacyUnitId
        - lng
        - meetingDay
        - meetingTime
        - name
        - number
        - onlineRegistrationSupported
        - organizationDistrictName
        - organizationTerritoryName
        - organizationType
        - program
        - specialNeeds
        - tinyUrl
        - triaVisitEncouraged
        - unitAgeYears
        - unitFee
        - unitSize
        - unitTenureMonths
        - website
        - youthGrade
        - youthJoiningFee
        - zip
      properties:
        address:
          type: [string, "null"]
          description: >-
            Meeting place on one line, sometimes starting with the place's
            name
          examples:
            - Troop Meeting Location - Lake Oswego United Methodist Church 1855 South Shore Blvd, Lake Oswego, OR 97034
        contactEmail:
          type: [string, "null"]
          examples: [recruiting@troop346.org]
        contactName:
          type: [string, "null"]
          examples: [Kelly Solko]
        contactPhone:
          type: [string, "null"]
          examples: ["(612) 269-3382"]
        councilInfo:
          $ref: "#/components/schemas/OrganizationCouncil"
        description:
          type: [string, "null"]
          description: Free text that may contain HTML, such as links
        gender:
          type: string
          description: Who the organization accepts. `NA` for councils and older-youth programs.
          enum: [BOYS, GIRLS, FAMILY, NA]
        hasManualRegistration:
          type: boolean
        id:
          $ref: "#/components/schemas/OrganizationId"
        isComingSoon:
          type: boolean
        isFundRaiser:
          type: boolean
        lat:
          type: [number, "null"]
          examples: [44.903204]
        legacyUnitId:
          type: [integer, "null"]
          description: >-
            The unit's ID in older Scouting America systems. `null` for
            councils.
          examples: [278147]
        lng:
          type: [number, "null"]
          examples: [-93.482351]
        meetingDay:
          type: [string, "null"]
          description: Free-text meeting schedule
          examples:
            [Meets every Monday, Meets on the 3rd Wednesday of the month]
        meetingTime:
          type: [string, "null"]
          examples: [7:00 PM-8:30 PM]
        name:
          type: string
          description: >-
            For units, the unit type and `number` followed by the chartered
            organization's name
          examples:
            - Troop 3346 All Saints Lutheran Church
            - Northern Star Council 250
        number:
          type: string
          description: >-
            Unit number as four digits, or council number as three, with
            leading zeros
          pattern: "^[0-9]+$"
          examples: ["3346", "250"]
        onlineRegistrationSupported:
          type: boolean
        organizationDistrictName:
          type: [string, "null"]
          examples: [M]
        organizationTerritoryName:
          type: string
          examples: [Service Territory 04]
        organizationType:
          type: [string, "null"]
          enum: [Units, Post, Councils, null]
        program:
          type: string
          description: The program a unit belongs to. `NA` for councils.
          enum: [CUB_SCOUTS, SCOUTS_BSA, VENTURING, SEA_SCOUTS, EXPLORING, NA]
        specialNeeds:
          type: [string, "null"]
          description: >-
            Despite the name, a label for the unit's focus or type, such as
            `TRADITIONAL PROGRAM`, `HIGH ADVENTURE`, or `POLICE OFFICER`
          examples: [TRADITIONAL PROGRAM]
        tinyUrl:
          type: "null"
        triaVisitEncouraged:
          type: boolean
        unitAgeYears:
          type: [integer, "null"]
          examples: [56]
        unitFee:
          type: [integer, "null"]
          examples: [80]
        unitSize:
          type: [integer, "null"]
          examples: [33]
        unitTenureMonths:
          type: [integer, "null"]
          examples: [682]
        website:
          type: [string, "null"]
          description: Not always a full URL
          examples:
            [https://www.troopwebhost.org/Troop346Minnetonka/, www.troop245.org]
        youthGrade:
          type: [string, "null"]
          description: Grade range the unit serves
          examples: [K-5, 5-12, 8-12]
        youthJoiningFee:
          type: [integer, "null"]
          examples: [210]
        zip:
          type: string
          description: A 5-digit ZIP code, or ZIP+4
          pattern: "^[0-9]{5}(-[0-9]{4})?$"
          examples: ["55345", 90057-2204]

    OrganizationCouncil:
      type: object
      additionalProperties: false
      description: The council an organization belongs to
      required:
        - address
        - councilNumber
        - email
        - id
        - name
        - phone
        - website
      properties:
        address:
          type: string
          examples: ["6202 Bloomington Rd, Ft. Snelling, MN 55111"]
        councilNumber:
          type: [string, "null"]
          description: >-
            Same as `councilNumber` from the council list. `null` on a
            council's own record.
          examples: ["250"]
        email:
          type: "null"
        id:
          $ref: "#/components/schemas/OrganizationId"
        name:
          type: string
          examples: [Northern Star Council 250]
        phone:
          type: [string, "null"]
          examples: ["(612) 261-2300"]
        website:
          type: "null"

    OrganizationId:
      type: string
      description: An `id` from an organization
      examples: [2cb46226-b47b-4ef1-ab3e-51806fe91dfd]

    Problem:
      type: object
      additionalProperties: false
      description: An RFC 9457 problem details object
      required:
        - detail
        - instance
        - status
        - title
        - correlationId
      properties:
        detail:
          type: string
          examples: [No coordinates found for ZIP code 99999]
        instance:
          type: string
          description: The request path
          examples: [/zip-codes/99999/coordinates]
        status:
          type: integer
          description: The HTTP status code
          examples: [404]
        title:
          type: string
          description: The HTTP status phrase
          examples: [Not Found]
        correlationId:
          type: string
          description: Matches the `X-Correlation-ID` response header
          examples: [a3425ac2-8b5b-4568-baeb-04aee4288ca3]

    ZipCode:
      type: string
      pattern: "^[0-9]{5}$"
      examples: ["55345"]

  parameters:
    ZipCode:
      name: zipCode
      in: path
      required: true
      description: A 5-digit ZIP code. Keep leading zeros.
      schema:
        $ref: "#/components/schemas/ZipCode"

  responses:
    BadRequest:
      description: A parameter is missing, repeated, or has an invalid value
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
          example:
            detail: "getCouncils.zipCode: must be a 5-digit ZIP code"
            instance: /councils
            status: 400
            title: Bad Request
            correlationId: e4c784d9-9055-471b-b48b-9d4fee438f3a
